{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recommendation Playlist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1 class="test-element">Create Recommendation Playlist</h1>
        </header>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <label for="playlist_link">Playlist Link:</label>
                <input type="text" id="playlist_link" name="playlist_link" required><br>
                <label for="num_recommendations">Number of Recommendations:</label>
                <input type="number" id="num_recommendations" name="num_recommendations" min="5" max="100" required><br>
                <label for="playlist_name">New Playlist Name:</label>
                <input type="text" id="playlist_name" name="playlist_name" required><br>
                <input type="submit" value="Create Playlist">
            </form>
        </div>
        <footer>
            <div class="handles">
                <p>2024 Nathan Morris</p>
                <a href="https://www.instagram.com/natem.og" target="_blank">Instagram</a>
                <a href="https://open.spotify.com/user/nlevim" target="_blank">Spotify</a>
                <a href="https://www.linkedin.com/in/nate-morris-data" target="_blank">LinkedIn</a>
            </div>
        </footer>
    </div>
</body>
</html>
