{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1 class="test-element">Spotify Dashboard</h1>
        </header>
        <div class="container">
            <div class="main-menu">
                <a href="{% url 'view_top_artists' %}">View Top Artists</a>
                <a href="{% url 'view_top_genres' %}">View Top Genres</a>
                <a href="{% url 'view_top_songs' %}">View Top Songs</a>
                <a href="{% url 'create_recommendation_playlist' %}">Create Recommendation Playlist</a>
            </div>
        </div>
        <footer>
            <div class="handles">
                <p>2024 Nathan Morris</p>
                <a href="https://www.instagram.com/natem.og" target="_blank">Instagram</a>
                <a href="https://open.spotify.com/user/nlevim" target="_blank">Spotify</a>
                <a href="https://www.linkedin.com/in/nate-morris-data" target="_blank">LinkedIn</a>
            </div>
        </footer>
    </div>
</body>
</html>
